/* COLORS USED
#0B223D dark blue
#01471C dark green
#F39C14 gold yellow
*/

/* Universal Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

/* Global Styles */

body {
	background-color: #0B223D;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: .1rem;
}

h2 {
	text-align: center;
	padding: 8px;
}

hr {
	background-color: #F39C14;
	border: none;
	width: 70px;
	height: 3px;
	margin: 0 auto;
}

hr.green {
	background-color: #01471C;
	border: none;
	width: 100px;
	height: 3px;
	margin: 0 auto;
}

/* Links */

a {
	color: #F39C14;
	text-decoration: none;
	border-color: #F39C14;
}

a:hover {
	color: #fff;
	border-color: #fff;
	cursor: pointer;
	transition: .4s;
}

a:active {
	color: #01471C;
	border-color: #01471C;
	transition: 0s;
}

/* Nav Bar */

.nav-container {
	display: flex;
	align-items: center;
  	justify-content: center;
  	background-color: #0B223D;
}

.nav-container > a li {
	list-style: none;
	padding: 1.5rem;
	font-size: 1.25rem;
}

/* Main Header Styles */

.main-header {
 	min-height: 700px;
 	background: linear-gradient(#0B223D, transparent 90%), linear-gradient(0deg, #01471C, transparent 30%), #0B223D url('img/main-background.jpg') no-repeat center;
 	background-size: cover;
}

div.main-header-op {
	display: flex;
  	align-items: center;
  	justify-content: center;
	min-height: 600px;
}

div.slogan {
  text-align: center;
}

div.slogan span {
	font-family: 'Vollkorn', serif;
	letter-spacing: .5rem;
	font-size: 5rem;
	text-transform: uppercase;
	text-shadow: 2px 2px 5px #0B223D;
	color: #F39C14;
}

div.slogan span:hover {
	text-shadow: 2px 2px 5px #F39C14;
}

div.slogan h1 {
	font-size: 2rem;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-family: 'Vollkorn', serif;
}

.call-to-action {
	font-size: 1.15rem;
	padding: 15px;
	border: solid #F39C14 1px;
	background-color: #0B223D;
}

/* About Section Styles */

.about-bar {
	text-align: center;
	background-color: #01471C;
}

.about-bar > p {
	padding: 30px 19%;
}

/* Touring Styles (Flexbox) */

.tour-wrapper {
  margin: 15px;
  background-color: #0B223D;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  text-align: center;
  padding: 15px;
}

#touring > h2 {
	margin-top: 15px;
}

.tour-img > img {
	max-width: 350px;
	min-height: 225px;
	border: solid #F39C14 3px;
	border-radius: 10px;
	margin: 20px;
}

.column h3 {
	padding-bottom: 15px;
}

.column p {
	padding-top: 15px;
}

.back-to-top {
	margin: 25px auto;
}

/* Footer Styles */

.copyright {
	background-color: #F39C14;
	text-align: center;
}

.copyright > p {
	margin: auto;
	padding: 40px;
	color: #01471C;
	font-weight: bold;
	font-size: .8rem;
}

/* Media Queries */

/* Tablet */
@media only screen and (min-width: 610px) {
	.tour-img > img {
		min-width: 300px;
	}

	.column p {
		margin: 0 15%;
	}
} 

/* Desktop */
@media only screen and (min-width: 887px) {
	.column p {
		margin: 0 auto;
	}
}