/* COLORS USED
#0B223D dark blue
#01471C dark green
#F39C14 gold yellow
*/

/* Universal Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global Styles */

body {
	background-color: #0B223D;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: .1rem;
}

hr {
	background-color: #F39C14;
	border: none;
	width: 70px;
	height: 3px;
	margin: 0 auto;
}

/* Links */

a {
	color: #F39C14;
	text-decoration: none;
	border-color: #F39C14;
}

a:hover {
	color: #fff;
	border-color: #fff;
	cursor: pointer;
	transition: .4s;
}

a:active {
	color: #01471C;
	border-color: #01471C;
	transition: 0s;
}

/* Nav Bar */

.nav-container {
	display: flex;
	align-items: center;
  	justify-content: center;
  	background-color: #0B223D;
}

.nav-container > a li {
	list-style: none;
	padding: 1.5rem;
	font-size: 1.25rem;
}

/* Main Header Styles */

.main-header {
 	min-height: 700px;
 	background: linear-gradient(#0B223D, transparent 90%), linear-gradient(0deg, #01471C, transparent 30%), #0B223D url('img/main-background.jpg') no-repeat center;
 	background-size: cover;
}

div.main-header-op {
	display: flex;
  	align-items: center;
  	justify-content: center;
	min-height: 600px;
}

div.slogan {
  text-align: center;
}

div.slogan span {
	font-family: 'Vollkorn', serif;
	letter-spacing: .5rem;
	font-size: 5rem;
	text-transform: uppercase;
	text-shadow: 2px 2px 5px #0B223D;
	color: #F39C14;
}

div.slogan span:hover {
	text-shadow: 2px 2px 5px #F39C14;
}

div.slogan h1 {
	font-size: 2rem;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-family: 'Vollkorn', serif;
}

.call-to-action {
	font-size: 1.15rem;
	padding: 15px;
	border: solid #F39C14 1px;
	background-color: #0B223D;
}

/* About Section Styles */

.about-bar {
	text-align: center;
	background-color: #01471C;
}

.about-bar > h2 {
	padding: 8px;
}

.about-bar > p {
	padding: 30px 19%;
}

/* Flexbox Gallery */

.tour-wrapper {
  margin: 15px;
  background-color: #0B223D;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  text-align: center;
}

.tour-img > img {
	width: 200px;
	height: 150px;
}